<h1>Score</h1>

<div class="d-flex justify-content-center">
    <div class="card card-results text-left p-3 mt-5 shadow">
        <p class="card-text"><%= @time_passed %> seconds</p>
        <h5 class="card-title"><%= @message %></h5>
        <p><%= link_to 'Try Again', "new"%></p>
    </div>
</div>